@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    overflow: hidden;
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 700;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #dad7cd;
    color: #344e41;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.name{
    font-size: 3rem;
    color: #3a5a40;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.name:hover{
    scale: 1.1;
    color:#588157;
}

nav a{
    font-size: 1.8rem;
    color: #344e41;
    margin-left: 4rem;
    font-weight: 600;
    transition: 0.3s ease;
}
nav a:hover,
nav a.active{
    color:#588157;
    border-bottom: 3px solid #588157;
}



section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #dad7cd;
}

.home .home-content h1{
    font-size:8rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color:#588157;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-content p{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img img{
    position: relative;
    width: 32vw;
    box-shadow: 0 0 25px solid #344e41;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: transparent;
    border: 0.2rem solid #588157;
    color: #588157;
    font-size: 4rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}



#clock {
    font-size: 5rem;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "PRD Lead";
    color: #588157;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: #dad7cd;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-width: 3px solid #dad7cd;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #588157;
    }
}

@keyframes words{
    0%, 20%{
        content: "GFX Artist."
    }
    21%, 40%{
        content:"Newsletter Artist."
    }

    41%, 60%{
        content: "Roblox TikTok Creator.";
    }
    61%, 80%{
        content: "Typography Artist."
    }
    81%, 100%{
        content: "Experienced Roblox MR+."
    }
}

